<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <title>Random Fry and Laurie</title>
  </head>

  <body>

    <h1>Random Fry and Laurie</h1>
    <h2>We all need <i>A Bit of Fry and Laurie</i>.</h2>
    <br>

<!--     <div class= "queue"> 
      <div id= "showme"> Show me my queue </div>
      <br>
      <div id= "myqueue">
      <% session[:videos].each do |video| %>
      www.youtube.com/watch?v=<%= video %><br><br>
      <% end %>
    </div>
    </div>
 -->
    <div class='videos'>
    <iframe width="420" height="315" src= <%= result %> frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div class='input'>
    <form name="input" action = "#" method="post">
    <label>
     Add to the Fry & Laurie playlist!<br>
     Submit the link to your favorite video— from YouTube only, please!
     <br>
     <br>
    <input type="text" name="vidURL"><br>
    </label>
    <input type="submit" value="Submit!">
    </form>
    </div>

    <div id= "link"><a href="/sets">LINK TO SETS</a>
  </body>

</html>